body{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 0;
padding: 0;
width: 100vw;
height: 100vh;
display: grid;
grid-template-rows: auto 1fr auto
}
h1 {
color: #4c00ff;
}

h2 {
    color:rgb(38, 0, 255);
}

div {
    height: 500px;
    width: 400px;
    border: solid 1px rgb(20, 30, 40);
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 0.5px rgb(20, 30, 40);
}

main {
    padding: 4rem;
}


Header {
    background-color: hsl(174, 4%, 47%);
    padding: 2rem;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .right {
    margin-right: auto;
}

footer {
    background-color:hsl(174, 4%, 47%);
    padding: 1rem;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 1rem;
}